@import url("./reset.css");
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.wrapper {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.btn{
  flex: 1;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background: #171717;
  color: white;
  font-size: 45px;
  outline: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: rgb(80, 60, 209);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 2.0rem;
}

button:hover {
  background-color: rgb(61, 43, 184);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}

.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  font-size: 80px;
  font-weight: bold;
  box-sizing: border-box;
}

.keypad {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}